

  button {
    background: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    outline: none;
}
.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 45px;
    opacity: 0;
    transition: all .2s ease-in-out;
}
.show-scroll {
    opacity: 1;
}
