<a *ngIf="product.title" class="card">
  <div  *ngIf="inStock" class="blur stock-wrapper" fxLayoutAlign="center center">
  <span class="out-of-stock"> coming <br />soon</span>
  </div>
  <img class="product-img" alt="" [src]="product.imageUrl" alt="{{ product.title }}">
  <h4 class="mt-2 title">
    {{ product.title }}</h4>
  <!-- <h5>({{
  product?.SKUSmartElements?.weight?.value
  }}
  {{ product?.SKUSmartElements?.weight?.unit }})</h5> -->
  <h4>{{ product.price | currency:'USD':true }}</h4>
  <button >
  Add to Cart
  </button>
  </a>
