<div class="app-container"fxLayout="row wrap" fxLayoutAlign="center center"

>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%" ></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="true"
            fxFlex.xs="50%"></app-p-tile>
  <app-p-tile [inStock] ="false"
            fxFlex.xs="50%"></app-p-tile>

</div>
